body{
	font-family: 'Roboto',sans-serif;
}

.linha{
	width: 970px;
	margin: 0 auto;
	overflow: auto;
}

a:link,a:active,a:visited{
	color: #315e8a;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1{
	font-weight: 300;
	margin: 15px 0px 10px 0;
	color: #315e8a;
	letter-spacing: -2px;
}

h2,h3{
	margin: 15px 0px  10px 0;
	font-weight: 500;
	text-align: center;
}


.header{
	background-color:#dee3e6;
	margin:-8px; 
}

nav{
	display: block;
}

nav ul{
	position: absolute;
	right: 6px;
	top: -2px;
	padding-top:14px; 
	padding-right:450px;
	list-style: none;
}

ul li{
	margin-bottom: 5px;
}

ul li{
	display: inline;
	margin-right: 15px
}

.menu{
	text-transform:uppercase; 
}

.menu li a{
	padding: 5px 10px;
	border-radius: 3px;
}

.menu li a:hover{
	text-decoration: none;
	background: #191970;
	color: #ebebeb;
}

img#apresentacao{
	margin-bottom:40px;
	margin-top: 40px;
}
img#extra{
	margin-top:23px;
}

.conteudo-extra{
	background: #f1f2ea;
	margin-left:-8px;
	margin-right:-8px;
	padding-bottom: 50px;
}

section{
	display: block;
	width: 500px;
	float: left;
}

aside{
	display: block;
	width: 400px;
	float: right;
}

section p{
	text-align: justify;
	text-indent: 20px;
}

aside p{
	text-align: justify;
	text-indent: 20px;
}

.rodape{
	background-color: #1f3c58;
	color: #ebebeb;
	text-align: center;
	font-weight: 100;
	margin: 0px -8px -10px -8px;
	padding-bottom:10px;
 }

 .rodape a{
 	color:#C0C0C0; 
 }

footer{
	clear: both;
}

footer p{
	text-align: center;
}
