<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>4Latex</title>
<link rel="shortcut icon" href="/img/icone4.ico" />
<link rel="shortcut icon" href="/img/icone4.ico" />
<link rel="stylesheet" href="/css/estilo.css" />
<link rel="stylesheet" href="/css/bootstrap_litera_tema.min.css" />
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
	rel="stylesheet" />
<meta charset="utf-8" />
<script src="js/jquery.js"></script>
<script src="js/show-modal.js"></script>

<!-- Navbar responsivo -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>

	<header>
		<nav id="nav-header" class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="/entrar">4LatexADM</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li><a class="nav-link" href="/scripts">Scripts
						<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/templates">Templates</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<section class="container">
		<!--modal cadastro template-->
		<div id="modal-form" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Cadastrar Template</h5>
						<button id="botãoClose" type="button" class="close"
							data-dismiss="modal" aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>

					</div>
					<div class="modal-body">
						<form method="POST" action="4Latex/salvarTemplate"
							enctype="multipart/form-data" th:object="${template}">
							<input type="hidden" th:field="*{id}" />
							<div class="form-gruop">
								<label for="codigo">Nome do Template</label> <input type="text" 
									name="nome" id="nome" th:field="*{nomeTemplate}" class="form-control" />
							</div>
							<div class="form-gruop">
								<label for="descricao">Descrição do template</label> 
								<input type="text" th:field="*{descricao}" name="descricao" id="descricao" class="form-control" />
							</div>
							<div class="form-gruop"></div>

							<div class="form-gruop">
								<label for="imagem">1° Imagem do template</label> <input
									type="file" name="imagem1" id="imagem1" class="form-control" />
							</div>
							<div class="form-gruop">
								<label for="imagem">2° Imagem do template</label> <input
									type="file" name="imagem2" id="imagem2" class="form-control" />
							</div>
							<div class="form-gruop">
								<label for="imagem">3° Imagem do template</label> <input
									type="file" name="imagem3" id="imagem3" class="form-control"  />
							</div>
							<div class="form-gruop">
								<label for="zip">Arquivo .zip</label> <input type="file"
									name="zip" id="zip" class="form-control" />
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Cadastrar</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id="main-content">
			<div class="row">
				<div class="float-left col-3">
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#modal-form" id="btncriar">Criar Template</button>
				</div>
				<div class="float-right col-6">
					<input type="text" name="search" class="form-control"
						placeholder="Procurar" id="procurar" />
				</div>
			</div>
			<div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nome</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="template : ${todosOsTemplates}">
							<td th:text="${template.nome}"></td>
							<td><a th:href="@{atualizar/{id}(id = ${template.id})}"><button
										type="button" class="btn btn-primary">Atualizar</button></a></td>
							<td><a class="btn btn-danger"
								th:href="@{excluir/{id}(id = ${template.id})}">Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>