<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>4Latex</title>
	<link rel="shortcut icon" href="/img/icone4.ico"/>
	<link rel="shortcut icon" href="/img/icone4.ico"/>
	<link rel="stylesheet" href="/css/estilo.css"/>	
	<link rel="stylesheet" href="/css/bootstrap_litera_tema.min.css"/>	
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet"/>
	<meta charset="utf-8"/>
</head>
<body id="homepage" > 
	<div class="header">
			<header>
				<nav id="nav-header" class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-primary">
					<a class="navbar-brand" href="/">4Latex</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav mr-auto">
							<li><a class="nav-link" href="/categorias">Categorias
							<span class="sr-only">(current)</span>
							</a></li>
							<li class="nav-item"><a class="nav-link" href="pagina-templates.html#tppage">Templates</a>
							</li>
							<li class="nav-item nav-item"><a class="nav-link" href="/ajuda">
							<span class="glyphicon glyphicon-question-sign"></span>Ajuda</a>
							</li>
						</ul>
					</div>
				</nav>
			</header>
		</div>
	<div class="linha">
		<section>
			<div class="coluna col3 sidebar">
				 <img id="apresentacao" src="/img/black.jpeg" width="950px" height="300px" />
			</div>
		</section>
	</div>
	<div class="conteudo-extra">
		<div class="linha">
			<div class="coluna col7">
				<section>
					<h2>Titulo Exemplo 1</h2>
					<p>Ele foi desenvolvido  pela equipe de desenvolvedores do grupo4, como uma tentativa de resolver incompatibilidades dentro da própria equipe. O intuito era otimizar o desenvolvimento de sua plataforma através da adoção de uma estrutura única. Isto reduziria inconsistências entre as diversas formas de se codificar, que variam de profissional para profissional. E a tentativa deu tão certo que eles perceberam o grande potencial da ferramenta, lançando-a no GitHub como um software livre.</p>
					<img id="introducao" src="/img/black.jpeg" width="500px" height="223px" />
				</section>  
			</div>
			<div class="coluna col5">
				<aside>
				<img id="extra" src="/img/black.jpeg" width="400px" height="200px" />
				<h3>Titulo Exemplo 2</h3>
				<p>Na prática, a principal aplicação do 4Latex seria na criação de templates responsivos. Com o 4Latex, o profissional já não tem mais que perder tanto tempo se preocupando com do seu projeto novamente. Esta facilidade se deve ao fato de que ele possui vários templates que tornam o seu dia-a-dia muito mais fácil. Com inúmeras bibliotecas prontas disponíveis, o trabalho que o desenvolvedor tem é de, praticamente, só as incluir em seus projetos.</p>
				</aside>
			</div>
		</div>
	</div>
	<div class="rodape">
		<footer> 
		<nav id="nav-footer" class="navbar navbar-static-bot navbar-expand-lg navbar-dark bg-primary">
			<div class="esquerda" >
				<h3>G4.dev</h3>
			</div>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="pagina-quem-somos.html#qspage">Quem somos?</a>
					</li>
					<li class="nav-item nav-item">
					<a class="nav-link" href="pagina-ajuda.html#hpage"><span class="glyphicon glyphicon-question-sign"></span>Ajuda</a>
					</li>
				</ul>	
			</div>
			
			<div><a class="nav-link" href="pagina-inicial.html">Ir para o topo</a></div>
		</nav>	
	</footer>
	</div>
</body>
</html>