<!DOCTYPE html>
<html  lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Quem somos</title>
    <link rel="shortcut icon" href="/css/img/icone4.ico"/>
    <link rel="stylesheet" href="/css/bootstrap_litera_tema.min.css"/>
    <link rel="stylesheet" href="/css/estilo-fontes.css" />
</head>
<body>
    <header>
        <nav id="nav-header" class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/4Latex">4Latex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="/4Latex/categorias">Categorias
							<span class="sr-only">(current)</span>
					</a></li>
                    <li class="nav-item"><a class="nav-link" href="/4Latex/templates">Templates</a></li>
                    <li class="nav-item nav-item">
                        <a class="nav-link" href="/4Latex/ajuda"> <span class="glyphicon glyphicon-question-sign"></span>Ajuda</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="col-md-12 marcador" align="center">
                <h1>Quem somos</h1>
            </div>

            <div id="qsl1" class="row">
                <div class="col-md-4">
                    <img class="img-responsive thumbnail" src="/img/JuniorPerfil.jpg" width="330" height="300"/>
                    <h3>Antonio alves.</h3>
                    <h4>Desenvolvedor</h4>
                </div>

                <div class="col-md-4">
                    <img class="img-responsive thumbnail" src="/img/BrunoPerfil.jpg" width="330" height="300"/>
                    <h3>Bruno P.</h3>
                    <h4>Desenvolvedor</h4>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive thumbnail" src="/img/ItaloPerfil.jpg" width="330" height="300"/>
                    <h3>Italo C.</h3>
                    <h4>Desenvolvedor</h4>
                </div>
            </div>
            <br/>
            <br/>

            <div id="qsl1" class="row">
                <div class="col-md-4">
                    <img class="img-responsive thumbnail" src="/img/LucasPerfil.jpg" width="330" height="300"/>
                    <h3>Lucas R.</h3>
                    <h4>Desenvolvedor</h4>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive thumbnail" src="/img/NathanPerfil.jpg" width="330" height="300"/>
                    <h3>Nathan L.</h3>
                    <h4>Desenvolvedor</h4>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive thumbnail" src="/img/MaxPerfil.jpg" width="330" height="300"/>
                    <h3>Max W.</h3>
                    <h4>Desenvolvedor</h4>
                </div>
            </div>
        </div>
        <br/>
    	<br/>
    </section>

    <footer>
        <nav id="nav-footer" class="navbar navbar-static-bot navbar-expand-lg navbar-dark bg-primary">
            <div class="esquerda">
                <h3>G4.dev</h3>
            </div>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link texto-rodape" href="/4Latex/quem-somos">Quem somos?</a></li>
                    <li class="nav-item nav-item"><a class="nav-link texto-rodape" href="/4Latex/ajuda"><span
							class="glyphicon glyphicon-question-sign"></span>Ajuda</a></li>
                </ul>
                <div ><a class="nav-link" href="#">Ir para o topo</a></div>
            </div>
     
        </nav>
    </footer>

</body>

</html>